In [47]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy.stats import norm

import matplotlib.pyplot as plt
from matplotlib import cm
from matplotlib import pyplot
from sklearn.decomposition import PCA
from collections import Counter

### Funciton Defined

In [48]:
def feature_selection(data_df,variation_threshold):
    pca=PCA()
    pca.fit(data_df)
    cum_variation=np.cumsum(pca.explained_variance_ratio_)
    feature_number=(cum_variation>variation_threshold).argmax(axis=0)+1
    result_df=pd.DataFrame(data=np.vstack([pca.explained_variance_,pca.explained_variance_ratio_*100,cum_variation*100]).T,
                          columns=['Eigenvalue', 'Variation explained(%)', 'Cumulative(%)'],
                          index=np.arange(1,data_df.shape[1]+1))
    result_df=round(result_df,2)
    display(result_df)
    print("Selected Feature number: ", feature_number)
    
    return feature_number

### Data Input

In [49]:
rawdata_df = pd.read_csv('../data/SME_dataset.csv', index_col = 0)
rawdata_df.head()

,X1,ratio001,ratio002,ratio003,ratio004,ratio005,ratio006,ratio008,ratio011,ratio012,...,DIO,DPO,DSO,turnover,status,nace,ratio036,ratio037,ratio039,ratio040
1,14,180.39,0.00,1.01,1.06,1.06,2.25,-48.31,0.00,-0.79,...,1,283,0,3437,1,4941,1,1,1,1
2,18,3.73,0.21,1.27,1.41,1.35,1.89,13.57,0.11,0.27,...,7,61,75,1991,1,1330,0,0,1,0
3,21,0.19,0.00,6.18,3.28,3.28,1.79,-17.72,-0.28,-0.36,...,0,5,27,1739,1,4646,1,1,1,1
4,25,-1.49,0.00,0.33,0.10,0.10,-2.73,-53.41,-0.79,-0.39,...,0,0,0,1499,1,9313,1,1,1,1
5,31,-1.21,0.00,0.17,0.14,0.14,-28.95,-58.08,-1.02,-0.23,...,0,444,0,1244,1,4759,1,1,1,1

In [50]:
rawdata_df=rawdata_df.drop(['X1'],axis=1)
rawdata_df.describe()

,ratio001,ratio002,ratio003,ratio004,ratio005,ratio006,ratio008,ratio011,ratio012,ratio017,...,DIO,DPO,DSO,turnover,status,nace,ratio036,ratio037,ratio039,ratio040
count,4514.000000,4514.000000,4514.000000,4514.000000,4514.000000,4514.000000,4514.000000,4514.000000,4514.000000,4514.000000,...,4514.000000,4514.000000,4514.000000,4514.000000,4514.000000,4514.000000,4514.000000,4514.000000,4514.000000,4514.000000
mean,8.885091,1.264107,1.443505,1.535791,1.189956,7.726227,23.067767,0.027758,-0.068855,1.371943,...,105.227736,75.934205,95.731945,3344.478511,0.110323,4615.625831,0.179663,0.207576,0.938857,0.240142
std,19.154547,3.333365,0.760904,1.201232,1.023862,23.277207,70.271262,0.146976,0.790180,1.068066,...,355.807161,111.650905,128.370308,7580.558788,0.313327,1941.904899,0.383949,0.405617,0.239619,0.427217
min,-64.430000,-9.580000,0.170000,0.010000,0.000000,-33.140000,-285.860000,-1.280000,-8.540000,0.010000,...,0.000000,0.000000,0.000000,6.000000,0.000000,110.000000,0.000000,0.000000,0.000000,0.000000
25%,1.302500,0.000000,1.070000,0.970000,0.610000,0.940000,1.240000,0.010000,0.000000,0.680000,...,1.000000,0.000000,0.000000,594.000000,0.000000,3320.000000,0.000000,0.000000,1.000000,0.000000
50%,3.770000,0.090000,1.200000,1.220000,0.990000,1.720000,3.590000,0.030000,0.070000,1.170000,...,19.000000,51.000000,67.000000,1123.500000,0.000000,4642.000000,0.000000,0.000000,1.000000,0.000000
75%,9.680000,1.170000,1.520000,1.720000,1.407500,4.890000,16.317500,0.070000,0.210000,1.740000,...,80.000000,99.750000,136.000000,2761.750000,0.000000,5510.000000,0.000000,0.000000,1.000000,0.000000
max,206.550000,33.380000,8.270000,13.710000,10.880000,297.020000,566.960000,0.490000,1.080000,8.420000,...,5569.000000,1467.000000,1465.000000,76403.000000,1.000000,9609.000000,1.000000,1.000000,1.000000,1.000000

In [51]:
rawdata_df.groupby('status').mean().T

status              0            1
ratio001     8.852383     9.148855
ratio002     1.248618     1.389016
ratio003     1.487742     1.086767
ratio004     1.597079     1.041546
ratio005     1.243633     0.757088
ratio006     7.929163     6.089699
ratio008    26.217702    -2.334116
ratio011     0.047816    -0.133996
ratio012     0.008752    -0.694699
ratio017     1.380640     1.301807
ratio018     1.341287     1.287108
ratio019     0.211768     0.050361
ratio027    40.178063     6.955663
ratio029     0.084345    -0.118976
ratio030     0.091696    -0.119036
DIO        100.609313   142.471888
DPO         67.347361   145.180723
DSO         91.071215   133.317269
turnover  3542.273904  1749.405622
nace      4605.438994  4697.775100
ratio036     0.132719     0.558233
ratio037     0.158616     0.602410
ratio039     0.934014     0.977912
ratio040     0.192480     0.624498

In [52]:
data_status=rawdata_df['status']

In [53]:
data_df=rawdata_df.drop(['status'],axis=1)
data_df.head()

,ratio001,ratio002,ratio003,ratio004,ratio005,ratio006,ratio008,ratio011,ratio012,ratio017,...,ratio030,DIO,DPO,DSO,turnover,nace,ratio036,ratio037,ratio039,ratio040
1,180.39,0.00,1.01,1.06,1.06,2.25,-48.31,0.00,-0.79,1.08,...,0.00,1,283,0,3437,4941,1,1,1,1
2,3.73,0.21,1.27,1.41,1.35,1.89,13.57,0.11,0.27,1.72,...,0.10,7,61,75,1991,1330,0,0,1,0
3,0.19,0.00,6.18,3.28,3.28,1.79,-17.72,-0.28,-0.36,5.02,...,-0.05,0,5,27,1739,4646,1,1,1,1
4,-1.49,0.00,0.33,0.10,0.10,-2.73,-53.41,-0.79,-0.39,0.95,...,-0.74,0,0,0,1499,9313,1,1,1,1
5,-1.21,0.00,0.17,0.14,0.14,-28.95,-58.08,-1.02,-0.23,4.40,...,-0.23,0,444,0,1244,4759,1,1,1,1

In [54]:
# data_df.to_excel('../result/data.xlsx',header=True)

### Factor Network-Based Segmentation

In [55]:
data_df=(data_df-np.mean(data_df))/np.std(data_df)

In [56]:
variation_threshold=0.95
feature_number=feature_selection(data_df,variation_threshold)

    Eigenvalue  Variation explained(%)  Cumulative(%)
1         5.18                   21.56          21.56
2         2.56                   10.66          32.22
3         2.53                   10.55          42.77
4         1.59                    6.61          49.39
5         1.47                    6.14          55.53
6         1.26                    5.25          60.78
7         1.16                    4.82          65.59
8         1.08                    4.51          70.10
9         0.98                    4.07          74.17
10        0.97                    4.04          78.21
11        0.83                    3.45          81.66
12        0.78                    3.25          84.91
13        0.73                    3.03          87.93
14        0.56                    2.35          90.28
15        0.52                    2.18          92.46
16        0.51                    2.13          94.59
17        0.45                    1.86          96.45
18        0.36                    1.52          97.96
19        0.16                    0.67          98.63
20        0.10                    0.43          99.06
21        0.07                    0.31          99.37
22        0.07                    0.29          99.65
23        0.06                    0.27          99.92
24        0.02                    0.08         100.00

Selected Feature number:  17

In [57]:
ata=data_df.T.dot(data_df)
eigenval,eigenvec=np.linalg.eig(ata)
Vt=eigenvec.T
F_df=(data_df).dot((np.matrix(Vt)[:feature_number,:].I))

In [58]:
# select_col_num = 17

# lomo=np.linalg.svd(data_df)

# my_U = lomo[0][:,:select_col_num]
# my_D=lomo[1]**2
# my_D = np.sqrt(np.diag(my_D[:select_col_num])/(data_df.shape[0]-1))
# F_df=pd.DataFrame(my_U.dot(np.diag(lomo[1][:select_col_num])))
# F_df1=pd.DataFrame(my_U.dot(my_D))
# display(F_df,F_df1)

In [59]:
# F_df=pd.DataFrame(np.matrix(data_df.T).I.dot(eig_vecs).dot(np.diag(eig_vals)))

network_threshold=[0.05,0.1]

In [60]:
theta=norm.ppf(2/(F_df.shape[0]-1))
factor_matrix=norm.cdf(np.cov(F_df)+theta)

In [72]:
temp_df=pd.DataFrame(factor_matrix>threshold)

In [90]:
result_df=pd.DataFrame()
temp_df_list = []
for threshold in network_threshold:
    
    temp_df=pd.DataFrame(factor_matrix>threshold)
    
#     temp_df=np.sum(temp_df)
    temp_df=temp_df.sum()
    temp_df[temp_df!=0]=1
    pd.DataFrame(index=temp_df.index, data=temp_df.values, columns=["connect_flag"]).to_csv("../result/connect_flag_df_threshold_%s.csv" % (str(threshold)), index=True)
    temp_df=(np.vstack((temp_df, data_status))).T
      
    connect_df=temp_df[temp_df[:,0]==1]
    nonconnect_df=temp_df[temp_df[:,0]==0]
    temp1=pd.DataFrame.from_dict(Counter(connect_df[:,1]),orient='index').reset_index()
    temp1.columns=['Status','Connect']
    temp1_per=np.array(list(Counter(connect_df[:,1]).values()))
    temp1['Connect_Per']=temp1_per/connect_df.shape[0]

    temp2=pd.DataFrame.from_dict(Counter(nonconnect_df[:,1]),orient='index').reset_index()
    temp2.columns=['Status','Non-Connect']
    temp2_per=np.array(list(Counter(nonconnect_df[:,1]).values()))
    temp2['NonConnect_Per']=temp2_per/nonconnect_df.shape[0]

    temp_df=pd.merge(temp1,temp2)
    add_row=pd.DataFrame([['Total',connect_df.shape[0],connect_df.shape[0]/data_df.shape[0],nonconnect_df.shape[0],nonconnect_df.shape[0]/data_df.shape[0]]],columns=temp_df.columns)
    temp_df=temp_df.append(add_row)
    temp_df['Threshold']=threshold
    result_df=pd.concat([result_df,temp_df],axis=0)

result_df.set_index(['Threshold','Status'], inplace=True)

In [16]:
result_df

                  Connect  Connect_Per  Non-Connect  NonConnect_Per
Threshold Status
0.05      1           382     0.175956          116        0.049509
          0          1789     0.824044         2227        0.950491
          Total      2171     0.480948         2343        0.519052
0.10      1           345     0.196918          153        0.055395
          0          1407     0.803082         2609        0.944605
          Total      1752     0.388126         2762        0.611874

### Feature Engineering